<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (isAuthenticated) { %>
                <li><a href="/users/add-user">Add User</a></li>
                <% } %>
                    <% if (!isAuthenticated) { %>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                        <% } else { %>
                            <li>
                                <form action="/logout" method="post">
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                            <% } %>
        </ul>
    </nav>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
</body>

</html>